$textBlue: hsl(238, 29%, 16%);
$texDBlue: hsl(240, 6%, 50%);
$textXDBlue: hsl(237, 12%, 33%);
$textRed: hsl(14, 88%, 65%);
$gradientViolent: hsl(273, 75%, 66%);
$gradientBlue: hsl(240, 73%, 65%);
$dividerBlue: hsl(240, 5%, 91%);